<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container text-center mt-5">
        <div class="row justify-content-center">

            <!-- Card Cadastro la -->
            <div class="col-md-4">
                <div class="card shadow p-4 mb-4">
                    <h3 class="mb-3">Criar Conta</h3>
                    <p class="text-muted">Cadastre-se para começar</p>
                    <a href="/cadastro" class="btn btn-success w-100">Cadastrar</a>
                </div>
            </div>

            <!-- Card Produto-->
            <div class="col-md-4">
                <div class="card shadow p-4 mb-4">
                    <h3 class="mb-3">Add Produto</h3>
                    <p class="text-muted">Adicione um produto</p>
                    <a href="/cadastroP" class="btn btn-secondary w-100">Adicionar</a>
                </div>
            </div>

        </div>

        <!-- LISTAS -->
        <div class="row mt-4 text-start">

            <!-- Clientes -->
            <div class="col-md-6">
                <h4>Clientes</h4>
                <div class="card p-3 shadow-sm">
                    <% clientes.forEach(cliente => { %>
                        <div class="border-bottom mb-2 pb-2">
                            <strong><%= cliente.nome %></strong><br>
                            <small><%= cliente.email %></small>
                        </div>
                    <% }) %>
                </div>
            </div>

            <!-- Produtos -->
            <div class="col-md-6">
                <h4>Produtos</h4>
                <div class="card p-3 shadow-sm">
                    <% produtos.forEach(produto => { %>
                        <div class="border-bottom mb-2 pb-2">
                            <strong><%= produto.nome %></strong><br>
                            <small>R$ <%= produto.preco %></small>
                        </div>
                    <% }) %>
                </div>
            </div>

        </div>
    </div>

</body>
</html>